@charset "UTF-8";
/*
    em HTML é id  em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color:#93C6C3;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#126d38;
}
 
h1#principal{
    text-align: center;
    background-color: #383C43;
    color: #16ff8e;
 }   
h2 {
    color: #68309c;
}
p{
    color: #190546;
}
.basico{
    color: #0c008e;
    font-weight:bolder;
}
.intermediario{
    color: rgb(0, 255, 64);
}
.avancado{
    color: rgb(252, 235, 0);
}
.destaque{
    background-color: rgba(10, 36, 229, 0.504);
}
.bonito{
    background-color: #0b5b2cab
}